.header{
    color: white;
    font-size: 50px;
}

.add{
    border-radius: 10px;

}
.validation{
    height: 2rem;
    color: white;
    width: 40vw;
    margin: 5px 0 0 10px;
    padding: 0;
}
.section-input{
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.input{
    width: 80%;
    height: 2rem;
    border-radius: 10px;

}

.section-tasks{
    background-color: white;
    width: 40vw;
    height: 100%;
    margin: 1rem 0;
    border: 0;
    border-radius: 10px;
}

.task{
    height: 3rem;
    margin: 5px;
    width: 98%;
    background-color: rgb(219, 166, 250);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    margin: 0 0 0 5px;
    width: 80%;
    height: 1.5rem;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    background-color: rgb(219, 166, 250);
    color: black;
}

.checkbox{
    height: 1.4rem;
    width: 1.4rem;
}

.delete{
    height: 1.4rem;
    width: 1.4rem;
    margin: 5px;

}

.add{
    border-radius: 10px;
}
